/** variables
 *  ------------------------------------------------------------------------------------------------
**/
:root {
  --colour-dark: #35404b;
  --colour-light: #e2e6ea;
  --colour-subtle: #53606d;
  --colour-bg: #ffcc66;
  --colour-bg-subtle: #8493a2;


  --colour-bg-1: #d4604e;
  --colour-bg-2: #f99d6a;
  --colour-bg-3: #fbdfb5;
  --colour-bg-4: #a8dea8;
  --colour-bg-5: #bedecc;
  /* --colour-bg-6: #a6cae7; */
  --colour-bg-6: #adbfd9;
  --colour-bg-7: #e4ceea;
  --colour-bg-8: #f2777a;
  --colour-bg-9: #afb8c2;
  --colour-bg-10: #cad1d8;
  --colour-bg-11: #d5dce4;
  --colour-bg-12: #e2e6ea;

  --radius-default: 4px;

  --bsu: 24px;
  --bsu-s: 12px;

  /*
  fonts should be installed locally.
  Quicny: https://connary.com/quincy.html
  */
  --ff-quincy: 'Quincy CF', serif;
}


/** universal elements
 *  ------------------------------------------------------------------------------------------------
**/
html {
  box-sizing: border-box;
  background: #222233;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: var(--ff-quincy);
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  color: var(--colour-dark);
  width: 100%;
  max-width: 210mm;
  background: var(--colour-light);
}

.currency::before {
  content: '£';
  font-family: var(--ff-quincy);
}


/** displaying sections
 *  ------------------------------------------------------------------------------------------------
**/
.stage-0 .stage-container--1 {
  display: none;
}
.stage-1 .stage-container--0 {
  display: none;
}

/** stage 0 input styling
 *  ------------------------------------------------------------------------------------------------
**/
.stage-container--0 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stage-container--0 > div {
  width: 100%;
  text-align: center;
}

.stage-container--0 input {
  display: block;
  margin: 0 auto;
  padding: var(--bsu-s) var(--bsu);
  background-color: var(--colour-bg-subtle);
  border-radius: var(--radius-default);
}

.stage-container--0 input[type='button'] {
  display: inline-block;
  margin-top: var(--bsu);
  background: var(--colour-bg);
  /* color: var(--colour-light); */
  border: 0;
  font-size: 16px;
  font-family: var(--ff-quincy);
}


/** Invoice Number
 *  ------------------------------------------------------------------------------------------------
**/
.invoice-number {
  padding: var(--bsu);
  text-align: right;
  background: var(--colour-bg-6);
  /* color: var(--colour-bg-subtle); */
  /* border-bottom: 6px solid var(--colour-bg); */
}
.invoice-number h1 {
  font-size: 24px;
  /* color: var(--colour-light); */
  margin: 0;
  /* font-weight: 800; */
  font-style: italic;
}


/** Branding
 *  ------------------------------------------------------------------------------------------------
**/
.branding {
  padding: var(--bsu);
  text-align: left;
  color: var(--colour-bg-6);
  margin-bottom: calc(var(--bsu)*2);
}

.branding h2 {
  font-weight: normal;
  /* letter-spacing: 3px; */
  margin: 0;
  font-size: 60px;
}


/** Invoice details
 *  ------------------------------------------------------------------------------------------------
**/
.invoice-recipient {
  text-align: right;
  padding: 0 var(--bsu);
}

.invoice-recipient h4,
.invoice-recipient h3,
.invoice-recipient h5 {
  font-weight: normal;
  margin: 0 0 calc(var(--bsu-s) * 0.5);
}

.invoice-recipient h3  {
  font-size: 40px;
}

.invoice-recipient h5  {
  font-size: 20px;
  font-style: italic;
}


/** Services & details layout
 *  ------------------------------------------------------------------------------------------------
**/
.stage-container--1 {
  min-height: 100vh;
  position: relative;
}

main {
  width: 67%;
  margin: 0 0 0 auto;
  padding: var(--bsu);
}

.stage-container--1 > footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 33%;
  padding: var(--bsu);
  color: var(--colour-subtle);
}


/** Services section
 *  ------------------------------------------------------------------------------------------------
**/
main > header {
  padding: var(--bsu) 0 var(--bsu-s);
  border-bottom: 3px solid var(--colour-bg-6);
}
main > header h1,
main > header h2 {
  margin: 0;
  display: inline-block;
  font-size: 40px;
  font-weight: 800;
  font-style: italic;
}

main > header h2 {
  float: right;
}

.services-list,
.invoice-payment-details__details {
  list-style: none;
  margin: 0 auto var(--bsu);
  padding: 0;
}

.services-list li {
  list-style: none;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: var(--bsu);
  font-size: 16px;
}

.service__desc-wrap {
  padding-right: var(--bsu-s);
}

.service__sub-desc {
  display: block;
  font-size: 14px;
  font-style: italic;
  color: var(--colour-subtle);
}

.service__cost {
  font-size: 16px;
}

.invoice-payment-details__details li {
  list-style: none;
  display: block;
  margin-bottom: 6px;
}

.invoice-payment-details__details li:last-child {
  margin-bottom: 0;
}

.invoice-payment-details__details strong {
  display: inline-block;
  padding-left: var(--bsu-s);
  /* letter-spacing: 2px; */
  /* font-size: 16px; */
  font-weight: 800;
  font-style: italic;
}



.services-total {
  padding: var(--bsu-s) 0 var(--bsu);
  border-top: 3px solid var(--colour-bg-6);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services-total p,
.services-total h3 {
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  font-style: italic;
}






/** PRINT
 *  ------------------------------------------------------------------------------------------------
**/
@media print {

  html {
    background: var(--colour-light);
  }

  @page {
    margin: 0;
    min-width: 210mm;
    min-height: 297mm;
  }
}
